<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "mob.app.dev.storage"
        versionCode = "1"
        version   = "1.0.0">

    <name>Worcester Stands Tall Mobile Application</name>

    <description>
       An application for researched and built for the worcester stands tall event to interact with the giraffe art statues to show additional information of them.
    </description>

    <access origin="*"/>
   	<plugin name="cordova-plugin-whitelist" version="1" />
    <plugin name="cordova-plugin-geolocation-android-activator" />
    <plugin name="cordova-plugin-geolocation"  />

    <config-file platform="ios" parent="NSLocationWhenInUseUsageDescription" mode="merge">
        <array>
            <key>NSLocationWhenInUseUsageDescription</key>
            <string>Give me your location! Let me have it!!!</string>
        </array>
    </config-file>
    
    <preference name="phonegap-version" value="cli-7.0.1" />
    <preference name="permissions"                value="none"/>   
</widget>




  
